.main {
    height: 1700px;
    width: 1200px;
    margin-left: 650px;
    background-image: url(images/sssss.jpg);
}
.div1{
   
    height: 400px;
    width: 320px;
    background-color: wheat;
    position: absolute;right: 1340px;bottom: 385px;
    
}
.h2{
    text-align: center;
}
.div1 form #b{
      margin-left: 40px;
}